<div>
    <section layout="row" layout-sm="column" layout-wrap>
        <div>
            <md-button class="iconrectbutton">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="bottom">
                    Create Requirement
                </md-tooltip>
            </md-button>
            <md-button class="iconrectbutton">
                <i class="fa fa-filter"></i>
                <md-tooltip md-direction="bottom">
                    Filter
                </md-tooltip>
            </md-button>
        </div>
        <span flex></span>
        <div>
            <md-button class="iconrectbutton">
                <i class="fa fa-envelope"></i>
                <md-tooltip md-direction="bottom">
                    Send Via Mail
                </md-tooltip>
            </md-button>
            <md-button class="iconrectbutton">
                <i class="fa fa-file-excel-o"></i>
                <md-tooltip md-direction="bottom">
                    Export to Excel
                </md-tooltip>
            </md-button>
            <md-button class="iconrectbutton">
                <i class="fa fa-table"></i>
                <md-tooltip md-direction="bottom">
                    Export as Table
                </md-tooltip>
            </md-button>
        </div>
    </section>
</div>